<% layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <% if(process.env.NODE_ENV !== 'production') {%>
      <p><%= err.stack  %></p>
      <% } %>
    </div>
    <img crossorigin="anonymous" class="img-fluid" src="https://media.licdn.com/dms/image/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/0/1581099611064?e=1727913600&v=beta&t=Vp3IyXL7YZAfOlGACjz0jq3_fnu-t-smCoyv4L3eNFY" alt="">
  </div>
</div>