<% layout('/layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <h1>Register</h1>
    <form class="validated-form" action="/register" method="post" novalidate>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide username!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide correct email!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide password!
        </div>
      </div>
      <button class="btn btn-sm btn-success">Register</button>
    </form>
  </div>

</div>